body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

nav {
  max-width: 100%;
  height: 7%;
  padding: 0;
  margin: 0;
  background-color: #050005;
  color: #CECDCE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
  nav {
    height: 10%;
    justify-content: flex-start;
    padding-left: 1.5rem;
    
  }
}

.content {
  width: 100%;
  max-width: 100%;
  min-height: 93%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    min-height: 90%;
  }
}

/* Library */
.library {
  flex-grow: 1;
  min-width: 75%;
  background-image: linear-gradient(#1A001A, #050005);
}
.library-content {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 125px;
  height: 175px;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #CECDCE;
  color: #050005;
  border: 1px solid #050005;
  border-radius: 7px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  transform: scale(1.1, 1.1) perspective(1px);
  backface-visibility: hidden;
}
.card-add {
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: #141A1E;
  color: #CECDCE;
  cursor: pointer;
}
.card-add:active {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 2px 1px #CECDCE;
}
@media only screen and (min-width: 768px) {
  .library {
    max-width: 75%;
  }
  .library-content {
    margin: 3rem;
    justify-content: flex-start;
  }
  .card {
    margin: 1rem;
    width: 160px;
    height: 210px;
  }
}

/* Statistics */
.statistics {
  flex-grow: 1;
  background-color: #363436;
  color: #CECDCE;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #363436;
  color: #CECDCE;
  padding: 20px;
  margin: 5% auto;
  width: 90%;
}
.modal-close {
  color: #CECDCE;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-close:hover, .modal-close:focus {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .modal-content {
    width: 50%;
  }
}

.statistics-header {
  font-size: 1.3rem;
}

.align-center {
  align-self: center;
}

.btn-small {
  background-color: #1A001A;
  color: #CECDCE;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  border-radius: 3px;
  transition: all 0.1s ease;
  margin-left: 0.2rem;
}
.btn-small:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.btn {
  background: rgba(0, 0, 0, 0);
  color: #CECDCE;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  border: 2px solid #9A1C17;
  border-radius: 30px;
  transition: all 0.1s ease;
}
.btn:hover {
  cursor: pointer;
  color: #CECDCE;
  background-color: #9A1C17;
}
.btn:active {
  background-color: #9A1C17;
  color: #CECDCE;
  transform: scale(1.1, 1.1);
}
.btn-large {
  padding: 1rem 2rem;
}
.btn-card {
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
  color: #050005;
}
.btn-block {
  width: 100%;
}

hr {
  width: 100%;
}

.shrink {
  flex-shrink: 1;
}

.card-header {
  flex-shrink: 1;
  margin: 3px 0;
}
.card-text {
  flex-shrink: 1;
  margin: 3px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.form-group > input, .form-group > select {
  flex-grow: 1;
  padding: 0.4rem 0.8rem;
  background-color: #141A1E;
  color: #CECDCE;
  border: 0.5px solid #050005;
  border-radius: 30px;
  min-width: 90%;
}

.form-group > label {
  margin-bottom: 0.4rem;
}

@media only screen and (min-width: 768px) {
  .form-group {
    flex-direction: row;
    align-items: center;
  }

  .form-group > input, .form-group > select {
    margin-right: 5rem;
    width: 70%;
    min-width: 0;
  }

  .form-group > label {
    margin-bottom: 0;
    width: 190px;
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}
